.container {
  padding: 0 2rem;
}

.title {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.15;
  font-size: 10rem;
  width: 100rem;
  color: transparent;
  background: linear-gradient(270deg, rgb(45, 194, 57), rgb(8, 65, 26));
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
}

.subtitle {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.25rem;
  width: 40rem;
  text-align: center;
}

.getStarted button {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 3rem;
  width: 12rem;
  font-size: 1.2rem;
  color: #fff;
  background-color: #000;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.credit {
  position: absolute;
  top: 90%;
  left: 2%;
  opacity: 0.6;
  width: 20rem
}

.credit a {
 text-decoration: underline
}